:root{
    --primary-color-white: #f0f0f0;
    --primary-color-black: #111111;
    --primary-font: 'Oswald', sans-serif;
}

html{
    background-color: var(--primary-color-black);
    scroll-behavior: smooth;
    font-family: var(--primary-font);
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;    
}

/* DESKTOP NAVIGATION BAR */

.nav-bar{

    position: sticky;
    top: 0;
    
    z-index: 5;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(25, 25, 25, 1);

    width: 100%;
    height: 4rem;

    position: -webkit-sticky;

    padding: .25rem;

    border-radius: .25rem;

}

.mobile-nav-bar-hamburger-icon{
    display: none;
    
}
 
.mobile-nav-bar-hamburger-icon svg{
    fill: #FFF;
}

.logo-title-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 .5rem; 

    color: var(--primary-color-white);
    height: 100%;
}

.logo-title-container img{
    width: 2.3rem;
    height: 2rem;
}

.logo-title-container *{
    margin: .5rem;
}

.nav-item-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .5rem 0 0;

    color: var(--primary-color-white);
    height: 100%;

}

.nav-item-menu-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-menu-container .nav-item a{
    padding: .5rem;
}

.nav-item-menu-container .nav-item a:hover{
    background-color: #f0f0f01e;
    color: var(--primary-color-white);
    border-radius: 0.25rem;
    transition: .25s;
}

.nav-item-menu-container .nav-item{
    list-style-type: none;
    float: left;
    margin: 1rem;;
}

.nav-item-menu-container .nav-item a{
    text-decoration: none;
    color: #FFF;
}

.nav-item-menu-container .nav-item-contact{
    list-style-type: none;
    float: left;
    margin: .5rem;
}

.nav-item-menu-container .nav-item-contact img{
    width: 1.5rem;
    height: 1.5rem;
}

.nav-item-divider{
    background-color: #FFF;
    width: 1.25px;
    height: 1.75rem;
}

/* END DESKTOP NAVIGATION BAR */


/* START MOBILE  NAV BAR */

.mobile-nav-item-menu-container{
    display: none;
}

/*  END MOBILE NAV BAR*/

/* START WELCOME */

.welcome{
    
    
    z-index: 5;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #000000;
    color: rgb(255, 255, 255);

    text-align: center;

    font-size: 1.5rem;

    transition: .35s;
    opacity: 1;

}

.welcome *{
    margin: 1rem 25% 0 25%;
}

/* END WELCOME */

/* START PAGE 1 */

.home{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    color: #FFF;

    background-color: green;
}

#particles-js{

}

.particles-js{
    
    z-index: 0;
    
    height: 100%;
    background-color: var(--primary-color-black);

    width: 100%;
    
}

.home-header{
    z-index: 1;
    position: absolute;
    text-align: center;
}

.home-header-text{ 
    font-size: 3rem;
}

/* END PAGE 1 */

/* START QUOTE */

.quote{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(28, 28, 28);
    width: 100%;
    height: 24vh;

    text-align: center;

    color: var(--primary-color-white);
}

.profile-picture{
    border-radius: 100%;
    width: 8rem;
    height:  8rem;
}

.quote h1, h4{
    font-weight: 300;
}

.quote h1{
    font-size: 3rem;
}

.quote h4{
    font-size: 1.25rem;    
    margin-top: 2rem;
}

.quote-text-container{
    /* border: 1rem solid green;  */

    width: 50%;    
    margin: 2rem;
 }

/* END QUOTE */

/* START PORTOFLIO */

.my-portoflio{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgb(68, 68, 68);
    width: 100%;

}

.covid-data-tracker{

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-color-black);
    /* background-color: #4CB050; */
    width: 100%;
    height: 100vh;

    overflow: hidden;
    position: relative; 

    /* border: .2rem solid #ffffff60 */
}

.portfolio-item-details{
    width: 50%;
    
    margin: 1.5rem 1.5rem 1.5rem 3rem;
    color: var(--primary-color-white);

    z-index: 2;
}

.portfolio-item-details *{
    margin: 1.5rem 0 1.5rem 0;
    z-index: 2;
}

.portfolio-item-details h1{
    font-size: 3rem;  
}

.portfolio-item-details h3{
    font-size: 1.5rem; 
}

.portfolio-item-details h6{
    font-weight: 400; 
    font-size: 1.2rem;
}

.portfolio-item-showcase{

    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid white; */

}

.portfolio-item-showcase img{
    width: 16rem;
}

.bg-geometric{
    
    position: absolute;

    margin: 0 -90% 0 0;


    background-color: #60ad5d;

    width: 100%;
    height: 200%;
    transform: rotate(-45deg);
    border-radius: 1rem;
}

.bg-geometric-2{
    
    position: absolute;

    margin: 0 -90% 0 0;

    background-color: #0072bc;

    width: 100%;
    height: 200%;
    transform: rotate(45deg);
    border-radius: 1rem;
}

#covid-data-tracker-1{
    position: absolute;
    top: 10%;
    left: 25%;
}

.portfolio-img-container{

    display: flex;
    position: relative;  
}

.portoflio-item-seperator{
    width: 4rem;
    height: .25rem;
    background-color: var(--primary-color-white);
}

.portfolio-btn-container{
 
    display: flex;
    
}

.portfolio-btn{

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .5rem 0 .5rem;

    width: 56%;
    height: 3rem;
    border: .18rem solid var(--primary-color-white);
    border-radius: .24rem;

    text-align: center;

}

.portfolio-btn h6{
    margin: 0;
}
.portfolio-btn a{
 
    padding: .5rem 1rem .5rem 1rem;
    text-decoration: none;
    color: var(--primary-color-white);

}

.digital-sti-lipa{
    
    overflow: hidden;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between; 

    /* background-color:#0072BC; */
    background-color: var(--primary-color-black);
    width: 100%;
    height: 100vh;

    border-top: .2rem solid #ffffff60
}

.portoflio-media-container{

    display: flex;
    align-items: center;
    justify-content: center; 

    width: 100%;
    height: 100%;

    position: relative;

}

.portfolio-phone-frame{

    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 1px solid white; */

    width: 100%;
    height: auto;

    background: url('/img/phone-frame.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.portifio-item-showcase-digital-sti{   
    
    display: flex;
    align-items: center;
    justify-content: center; 
    
    height: 100%;
    width: 100%;
}

.portoflio-media-container #ditigal-sti-video{
    margin: 2rem;
    width: 68%;
}

/* END PORTOFLIO */

.skills{
    background-color: #111111;
    width: 100%;
    height: 100vh;
}

/*  */

.about-me{

    overflow: hidden;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.about-me-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    text-align: center;    

    margin: 4rem 0 4rem 0 ;

    background-color: var(--primary-color-black);
    color: var(--primary-color-white);
}

.certificates{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 1rem 0 1rem;
    width: 100%;
}

.certificates-img-container{

    display: flex;
    
    justify-content: center;
    align-items: center;

    margin: 1rem 0 0 0;
    width: 100%;
}

.certificates-img-container div h1{
    font-size: 1.5em;
}

.certificates-img-container div{
    position: relative;
    display: block;
    margin: 1rem;
}

.certificates-img-container img{
    display: inline-block;
    height: 16rem;
    width: 22rem;
    border-radius: .25rem;
}

.certificates > *{
    margin: 1rem;
}

.profile-picture{
    border-radius: 100%;
    width: 8rem;
    height:  8rem;
}

.about-me-container h1, h4{
    font-weight: 300;
}

.about-me-container h1{
    font-size: 3rem;
}

.about-me-container h4{
    font-size: 1.25rem;    
    margin-top: 2rem;
}

.about-me-text-container{
    /* border: 1rem solid green; */

    width: 50%;    
    margin: 2rem;
}


/*  */

.vlog{
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100vh;
}

.footer{
   
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--primary-color-white);
    font-weight: 500;

    background-color: rgb(25, 25, 25);
    width: 100%;
    height: 8vh;

    bottom: 0;

    border-top: 1px solid var(--primary-color-white);
}