:root{
    --primary-color: #111111;
    --primary-font: 'Oswald', sans-serif;
}

html{
    font-family: var(--primary-font);
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

*{
    margin: 0;
    padding: 0;    
}

/* DESKTOP NAVIGATION BAR */

.nav-bar{

    position: absolute;

    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(44, 44, 44, 0.52);

    width: 90%;
    height: 3rem;

    bottom: 1.24rem;

    border-radius: .75rem;

    padding: .5rem;
}

.mobile-nav-bar-hamburger-icon{
    display: none;
    
}
 
.mobile-nav-bar-hamburger-icon svg{
    fill: #FFF;
}

.logo-title-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 0 .5rem; 

    color: #FFF;
    height: 100%;
}

.logo-title-container img{
    width: 2.3rem;
    height: 2rem;
}

.logo-title-container *{
    margin: .5rem;
}

.nav-item-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 .5rem 0 0;

    color: #FFF;
    height: 100%;

}

.nav-item-menu-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-menu-container .nav-item a:hover{
    background-color: #FFF;
    color: #000;
    border-radius: 0.25rem;
    padding: .5rem;
    transition: .25s;
}

.nav-item-menu-container .nav-item{
    list-style-type: none;
    float: left;
    margin: 1rem;;
}

.nav-item-menu-container .nav-item a{
    text-decoration: none;
    color: #FFF;
}

.nav-item-menu-container .nav-item-contact{
    list-style-type: none;
    float: left;
    margin: .5rem;
}

.nav-item-menu-container .nav-item-contact img{
    width: 1.5rem;
    height: 1.5rem;
}

.nav-item-divider{
    background-color: #FFF;
    width: 1.25px;
    height: 1.75rem;
}

/* END DESKTOP NAVIGATION BAR */


/* START MOBILE  NAV BAR */

.mobile-nav-item-menu-container{
    display: none;
}

/*  END MOBILE NAV BAR*/

/* START WELCOME */

.welcome{
    
    
    z-index: 5;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: #000000;
    color: rgb(255, 0, 0);

    text-align: center;

    font-size: 1.5rem;

    transition: .35s;
    opacity: 1;

}

.welcome *{
    margin: 1rem 25% 0 25%;
}

/* END WELCOME */

/* START PAGE 1 */

.home{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    color: #FFF;

    background-color: green;
}

#particles-js{

}

.particles-js{
    
    z-index: 0;
    
    height: 100%;
    background-color: var(--primary-color);

    width: 100%;
    
}

.home-header{
    z-index: 1;
    position: absolute;
    text-align: center;
}

.home-header-text{ 
    font-size: 3rem;
}

/* END PAGE 1 */

.my-portoflio{
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100vh;
}

.skills{
    background-color: #111111;
    width: 100%;
    height: 100vh;
}

.about-me{
    background-color: rgb(121, 121, 121);
    width: 100%;
    height: 100vh;
}

.vlog{
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 100vh;
}

.footer{
   
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-weight: 700;

    background-color: var(--primary-color);
    width: 100%;
    height: 8vh;
}