:root{
    --primary-color: #111111;
    --primary-font: 'Oswald', sans-serif;
}


@media screen and (max-width: 856px){
   
    .nav-item-menu-container{
        display: none;
    }

    .nav-bar{        
        justify-content: space-between;
    }

    .mobile-nav-bar-hamburger-icon{
    
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 .5rem 0 0; 
        padding: 0; 

    }

    .mobile-nav-bar-hamburger-icon svg{
        
        width: 2rem;
        height: 2rem;
        
    }

    .mobile-nav-item-menu-container{

        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;

        background-color: var(--primary-color);

        border-left: .1rem solid #f0f0f0;
        width: auto;
        height: 100%;

        right: 0;
        
    }

    .nav-item-divider{
        transform: rotate(90deg);
    }

    .mobile-nav-item-menu-container ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0rem 1rem 0 1rem;
    }

    .mobile-nav-item-menu-container .nav-item{
        list-style-type: none;
        margin: 1rem;
        text-align: center;
    }

    .mobile-nav-item-menu-container .nav-item a{

        padding: .5rem;

    }

    .mobile-nav-item-menu-container .nav-item a:hover{
        background-color: #f0f0f01e;
        color: var(--primary-color-white);
        border-radius: 0.25rem;
        transition: .25s;
    }
    
    .mobile-nav-item-menu-container .nav-item a{
        text-decoration: none;
        color: #FFF;
    }
    .mobile-nav-item-menu-container .nav-item-contact{
        list-style-type: none;
        float: left;
        margin: .5rem;
    }
    
    .mobile-nav-item-menu-container .nav-item-contact img{
        width: 1.5rem;
        height: 1.5rem;
    }
    
    .nav-item-close{
        
        padding: .75rem 0 .75rem 0;
        width: 100%;
        background-color: #ff0000;
        position: absolute;
        bottom: 0;

        list-style-type: none;
        
        text-align: center;
    }

    .nav-item-close a{
        text-decoration: none;
        color: #FFF;
    }

    .home-header-text{
        font-size: 2rem;
    }

    .about-me h1{
        font-size: 2.5rem;
    }
    
    .about-me h4{
        font-size: 1rem;    
    }


    .portfolio-item-details h1{
        font-size: 2.65rem;  
    }
    
    .portfolio-item-details h3{
        font-size: 1.25rem; 
    }
    
    .portfolio-item-details h6{
        font-weight: 300; 
        font-size: 1.1rem;
    }

    .certificates-img-container img{
     
        height: 12rem;
        width: 18rem;
     
    }

}