@media screen and (max-width: 425px){

    .about-me-text-container{
        width: 50%;    
    }

    .about-me-text-container h1{
        font-size: 2rem;
    }

    .quote-text-container{
        width: 50%;    
    }

    .quote-text-container h1{
        font-size: 2rem;
    }

    .profile-picture{    
        width: 6rem;
        height: 6rem;
    }





}